/* animacoes.css */

/* Keyframes */
@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomFade {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animações aplicadas */
header {
  animation: slideDownFade 1s ease forwards;
}

main {
  animation: zoomFade 1.2s ease forwards;
  animation-delay: 0.3s;
}

#formacao {
  animation: slideUpFade 1s ease forwards;
  animation-delay: 0.6s;
}
